h1 {
    text-align: center;
    color:rgb(33, 160, 158);
}
.yellow {
    background-color: rgb(230, 242, 62)
}

.blue {
    background-color: rgb(33, 6, 184)
}

.try_first {
    background-color:rgb(197, 210, 15);
}